{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Zhenglin Wu{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="text-align: center">
            <div class="col mt-4">
                <h5>Introduction</h5>
                <br>
                <body>
                <p>This is a personal website which contains friend-circle, blogs, flash-thoughts, photo-booth functions. Although this is a personal website, it is open to all the internet users, and its target user community is people who loves to record lives and ideas with words.</p>

                <p>The following description will show the detailed functions of this website:</p>
                <p><b>- about:</b></p>
                <p>Zhenglin Wu: an introduction to me.</p>
                <p>Why I am here: check out why I here :-)</p>
                <p>Friend Circle: choose to be my friend, edit and check my friend list.</p>
                <p>Contact me: email, GitHub, LinkedIn and twitter.</p>
                <p>Intro to this website: instructions to this website.</p>
                <br>
                <p><b>- blogs</b></p>
                <p>Blog list: Browse the blogs with a list.</p>
                <p>Category and Tag: Browse the blogs based on categories and tags.</p>
                <p>Search: Browse the blogs based on search-content</p>
                <p>Newest/Hottest: Browse the blogs based on time or the number of views</p>
                <br>
                <p><b>- thoughts</b></p>
                <p>Browse the thoughts recorded by all users</p>
                <br>
                <p><b>- photo booth</b></p>
                <p>Browse the photos uploaded by me.</p>
                <p>Upload the photos.</p>
                <br>
                <p><b>- dropdown</b></p>
                <p>Login in: users can login in, sign up and find password before login in</p>
                <p>Write blog: write blogs with image, title, category, tag and content.</p>
                <p>Record thoughts: record thoughts with one click!</p>
                <p>Your profile: edit your profile with avatar, phone and bio.</p>
                <p>Delete yourself: delete all your account and things.</p>
                <p>Log out: just regular log out.</p>

                </body>

           </div>
        </div>
    </div>
{% endblock %}