{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Zhenglin Wu{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="text-align: center">
            <div class="col mt-4">
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <h2>Zhenglin Wu</h2>
                        <div>Master student at University of Illinois at Urbana-Champaign (UIUC)</div>
                        <div>Graduated from Beijing University of Posts and Telecommunications (BUPT)</div>
                        <div>Passion in Software Development</div>
                        <div>Focus on Algorithms and Java Development</div>
                        <div>Focus on Algorithms and Java Development</div>
                    </div>
                </div>
            <br>
            <br>
            <br>
                      <h3>Friend Circle</h3>
                    <div>Welcome to my public friend circle, you can join and leave anytime</div>
                    <div>Also, anyone can edit your information and even delete you on this website...</div>
                    <div>So, please be careful and be cool :-)</div>
                      <div class="mobile">
                      <a href="{% url 'aboutme:friend_create_urlpattern' %}"
                        class="button button-primary">Join my Friend Circle</a>
                          <br>
                      <a href="{% url 'aboutme:friend_list_urlpattern' %}"
                        class="button button-primary">List my friends</a>
                      </div>
            </div>
        </div>
    </div>

{% endblock %}



