{% extends "base.html" %} {% load staticfiles %}
{% block title %} Write Thoughts {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}



                <div class="form-group">
                    <label for="title">Thoughts Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>





                <button type="submit" class="btn btn-primary">Record!</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}